<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Inventec.Common.InvalidPermissionLink" value="/Notify/InvalidPermission"/>
    <add key="Inventec.Common.ComboAllLabel" value="Tất cả"/>
    <add key="Inventec.Common.TypeMenu" value="1"/>
    <add key="Inventec.Common.TypeControl" value="2"/>
    <add key="Inventec.Common.TypeHiddenMenu" value="3"/>
  </appSettings>
</configuration>